.table-container {
  background: #f8f8f8;
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;

  .table-line {
    display: flex;
    border-radius: 10px;
    margin: 15px 10px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 4px #e7e7e77a;

    .table-header {
      min-width: 180px;
      max-width: 180px;
      display: inline-block;
      border-right: 1px solid #f4f4f4;
      margin-right: 15px;
      font-weight: bold;
      text-align: left;
      word-wrap: break-word;
      flex-wrap: wrap;
    }

    .table-content {
      text-align: left;
    }
  }
}

.table {
  thead, tfoot {
    th {
    color: #7b95a7;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;

      &.actions {
        min-width: 375px;
      }
    }
  }

  td, th {
    color: #7b95a7;
    color: #4f6574
  }
}

.editBtn {
  position: absolute;
  right: 40px;
  top: 70px;
}

.imagesFiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  > figure {
    margin: 15px;
    width: 300px;

    img {
      width: auto;
      height: 300px;
      margin: 0 auto;
    }

    figcaption {
      color: grey;
      font-size: 12px;
      padding: 5px;
    }
  }
}

.fileUploadWrapper {
  height: 270px;
}
